@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    display: flex;
    height: 700px;
    font-family: 'Cafe24SsurroundAir';
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: aliceblue;
    text-align: center;
}
input, textarea, button, pre, p, span{
    font-family: 'Cafe24SsurroundAir';
    text-align: center;
}
.header {
    display: flex;
    margin: 40px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header h1 {
    margin: 5px;
}
.menu {
    display: flex;
    width: 400px;
    /* border: 1px solid black; */
    justify-content: space-around;
}
.contents {
    display: flex;
    width: 1000px;
    height: 70%;
    /* flex-direction: column; */
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid #666666; */
}
.diary {
    display: flex;
    width: 30%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    /* border: 1px solid #666666; */
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px #bdbdbd;
}
label {
    margin: 0 50px;
}
#submit {
    text-align: center;
}
button {
    background-color: aliceblue;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 5px;
    border: none;
    box-shadow: 2px 2px 2px #bdbdbd;
}
a:link {
    text-decoration: none;
}
a {
    color: black;
}
a:hover {
    color:lightcoral;
    /* font-weight: bold; */
}