{% extends 'base.html' %} 
{% load static %} 

{% block title %} {{ diary.id }}번째 일기 {% endblock %}
{% block link %} {% static 'css/detail.css' %} {% endblock %}
{% block content %}
<div class="diary">
    <h3>{{ diary.title }}</h3>
    <table>
        <tr>    
            <td>{{ diary.pub_date }} </td>
            <td>날씨: {{ diary.weather }}</td>
        </tr>
        <tr>
            <td colspan="3">
                {% if diary.image %}
                <p><img src="{{ diary.image.url }}" width="200px" height="200px" alt="안나와요"></p>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <pre class="content">{{ diary.body }}</pre>
            </td>
        </tr>
    </table>
    <br>
    <div class="buttons">
        <a href="{% url 'home'%}">
            <button>다른 일기</button>
        </a>
        <a href="{% url 'delete' diary.id %}">
            <button>삭제하기</button>
        </a>
    </div>
</div>
{% endblock %}

