{% extends 'base.html' %}
{% load static %}
{% block title %}오늘의 일기{% endblock %}
{% block link %} {% static 'css/home.css' %} {% endblock %}
{% block content %}
    <h3>[ 오늘의 일기 ]</h3>
    <form method="POST" action="{% url 'diary' %}">
        {% csrf_token %}
        <p>
            <label>제목</label>
            <input name="title" type="text" placeholder="제목">
        </p>
        <p>
            <label>날씨</label>
            <input name="weather" type="text" placeholder="날씨">
        </p>
        <p>
            <label>이미지</label>
            <input id="diary_img" type="file" name="image" />
        </p>
        <p>
            <label>본문</label>
            <textarea name="body" cols="30" rows="10"></textarea>
        </p>
        <br>
        <p id="submit"><button>글쓰기</button></p>
    </form>
{% endblock %}